<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Your Planning details </title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

<h1> Welcome To Planning </h1>

<table class="table">
    <tbody>

    <tr>
        <th scope="row">Id</th>
        <td th:text="${plannerData.planningId}"></td>
    </tr>
    <tr>
       <th scope="row">Name</th>
        <td th:text="*{plannerData.name}"></td>
    </tr>
    <tr>
        <th scope="row">Actions</th>
        <td> <a class="btn btn-warning" th:href="@{Editplanning(planningId=${plannerData.planningId})}">Edit planning</a></td>


        <td> <a class="btn btn-success" th:href="@{Createactiviteit(planningId=${plannerData.planningId})}">Add activiteit</a></td>


    </tr>
    </tbody>

</table>
<div>


        <a class="btn btn-danger" th:href="@{deletePlanning(planningId=${plannerData.planningId})}">Delete planning</a>



<a class="btn btn-primary" th:href="@{Overview}">return to overview</a>
</div>

</body>
</html>