<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Your Planning details </title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body class="p-4 p-md-5">

<h1> Welcome To Planning </h1>

<a class="btn btn-success m-3" th:href="@{Createactiviteit(planningId=${plannerData.planningId})}">Add activiteit</a>
<table class="table well w-75 p-3">
    <tbody>

    <tr>
        <th scope="row">Id</th>
        <td th:text="${plannerData.planningId}"></td>
    </tr>
    <tr>
       <th scope="row">Name</th>
        <td th:text="*{plannerData.name}"></td>
    </tr>
    </tbody>

</table>
<div>
    <a class="btn btn-warning" th:id="edit" th:href="@{Editplanning(planningId=${plannerData.planningId})}">Edit planning</a>
    <a class="btn btn-danger" id="delete" th:href="@{deletePlanning(planningId=${plannerData.planningId})}">Delete planning</a>
</div>
<div>
    <a class="btn btn-primary mt-md-5" th:href="@{Overview}"><i class="fa fa-arrow-left"></i>return to overview</a>
</div>

</body>
</html>