<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Edit Planning</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body class="p-4 p-md-5">

<h1> Edit your planning </h1>

<form method="POST" th:action="@{Editplanning}" th:object="${plannerData}" >
    <!-- Action is de request mapper vanuit de controller en Object is dan de naam van het model die wordt meegeven
      BELANGRIJK dat de namen goed overeenkomen - case sensitive!!!
      -->

    <div class="form-group">
        <input type="hidden" th:field="*{planningId}" id="planningId">
    </div>

    <div class="form-group w-50 p-3">
        <label class="control-label">Name:&nbsp;</label>
        <input class="form-control" type="text" th:field="*{name}" />

        <span class="validationError"
              th:if="#{fields.hasErrors('name')}"
              th:errors="*{name}">descriptionError
        </span>
    </div>

    <div class="form-group">
        <a class="btn btn-primary" th:href="@{Overview}">Return to Overview</a>
        <button class="btn btn-success btn-md" name="submit">Edit Planning</button>
    </div>

</form>


</body>
</html>