<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>List of Plannings</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body class="p-4 p-md-5">

<h1> Welcome To an overview of all Plannings </h1>

<br>
<a class="btn btn-success m-3" th:href="@{CreatePlanning}">Create a new planning</a>
<br>

<table class="table table-striped well w-75 p-3">

    <thead>
    <tr>
    <th scope="col">Name</th>
    <th scope="col">Actions</th>
    </tr>
    </thead>

    <tbody>

        <tr th:each="planning: ${plannings}">

            <td > <p th:text="${planning.name}"></p>
            </td>
            <td>
                <a class="btn btn-primary" th:id="${planning.name}" th:href="@{Detailsplanning(planningId=${planning.planningId})}"> Details</a>
            </td>
        </tr>

    </tbody>

</table>


</body>
</html>