<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>List of Plannings</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

<h1> Welcome To an overview of all Plannings </h1>


<div class="table-striped well">
    <div th:each="planning: ${plannings}">
         <div th:text="${planning.name}">
             <a th:href="@{/Detailsplanning(param1=${plannings.planningId})}"></a>
         </div>
    </div>
</div>
</body>
</html>